<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FAQS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function setIdForDelete(id) {
            document.getElementById("faqidForDelete").value = id;
        }
    </script>
    <script>
        function setIdForUpdate(id) {
            document.getElementById("faqIdForUpdate").value = id;
            $.ajax({
                url: "/getData/faq/" + id,
                type: 'GET',
                success: function (res) {
                    $("#updateHeader").val(res.header)
                    $("#updateContent").val(res.content)
                }
            });
        }
    </script>
</head>
<body>

<div th:replace="admin/header"></div>

<div>

    <button style="margin: 10px;" class = "btn btn-success" data-toggle="modal" data-target="#insertModal">
        Add FAQS
    </button>
</div>


<div class="table-bordered table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Header</th>
            <th>Content</th>
            <th>Insert Time</th>
            <th>Last Update Time</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="f : ${faqs}">

            <td th:text="${f.getHeader()}"></td>
            <td th:text="${f.getContent()}"></td>
            <td th:text="${f.getInsertDateTime()}"></td>
            <td th:text="${f.getLastUpdateDateTime()}"></td>

            <td>
                <button class="btn btn-warning" data-toggle="modal" data-target="#updateModal"
                        th:onclick="|setIdForUpdate('${f.id}')|" >
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                        th:onclick="|setIdForDelete('${f.id}')|"
                >
                    <i class="fa fa-trash" aria-hidden="true"></i>

                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- MODAL -->

<!-- ADD -->
<div class="modal" tabindex="-1" role="dialog" id="insertModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/faqs/add" method="POST" modelAttribute = "faqs">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Header</label>
                        <input type="text" name="header" class="form-control" placeholder="Header" required />
                    </div>
                    <div class="form-group">
                        <label >Content</label>
                        <input type="text" name="content" class="form-control" placeholder="Content" required/>
                    </div>
                </div>


                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Add">
                    <input type="submit" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- UPDATE -->
<div class="modal" tabindex="-1" role="dialog" id="updateModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/faqs/update" method="POST" modelAttribute="faq">

                <div class="modal-body">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Header</label>
                            <input type="text" name="header" class="form-control" placeholder="Header" id="updateHeader" required/>
                        </div>
                        <div class="form-group">
                            <label >Content</label>
                            <input type="text" name="content" class="form-control" placeholder="Content" id="updateContent" required/>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <input type="hidden" name="id" id="faqIdForUpdate"/>
                    <input type="submit" class="btn btn-success" value="Update">
                    <input type="submit" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- DELETE -->
<div class="modal" tabindex="-1" role="dialog" id = "deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/faqs/delete" method="POST">

                <div class="modal-body">
                    <p>Are you sure to delete selected FAQ?</p>
                </div>
                <div class="modal-footer">

                    <input type="hidden" name="id" id="faqidForDelete"/>
                    <input type="submit" class="btn btn-success" value="Delete">
                    <input type="submit" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
