<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #34aeeb;" xmlns:th="http://www.thymeleaf.org">
    <a class="navbar-brand" th:href="@{/admin}">ADMIN PANEL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/settings}">Website Settings </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/lessons}">Lessons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/classes}">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/sections}">Sections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/departments}">Departments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/supports}">Supports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/videos}">Videos</a>
                </li>

            </ul>
        </div>
</nav>

