<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Supports</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function setIdForView(id) {
            document.getElementById("supportId").value = id;
            $.ajax({
                url: "/getData/support/" + id,
                type: 'GET',
                success: function (res) {
                    var element = document.getElementById("solved");
                    $("#fullNameId").text(res.fullName);
                    $("#emailId").text(res.email);
                    $("#departmentId").text(res.department);
                    $("#subjectId").text(res.subject);
                    $("#messageId").text(res.message);
                    $("#insertTimeId").text(res.insertTime);
                    $("#solvedTimeId").text(res.solvedTime);
                    $("#dynamicLink").attr("href","/admin/supports/"+id);

                    if(res.status === 1) element.style.visibility="hidden";
                    else element.style.visibility="visible";
                }
            });
        }
    </script>
</head>
<body>

<div th:replace="admin/header"></div>

<div class="table-bordered table-responsive" th:object = "${supports}">
    <table class="table">
        <thead>
        <tr>
            <th>Full name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Subject</th>
            <th class="text-center">Message</th>
            <th>Insert time</th>
            <th>Solved time</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="s : ${supports}">
            <td th:text="${s.getFullname()}"></td>
            <td th:text="${s.getEmail()}"></td>
            <td th:text="${s.getDepartmentId().getName()}"></td>
            <td th:text="${s.getSubject()}"></td>
            <td>
                <span th:if="${s.getMessage().length()>50}" th:text="${s.getMessage().substring(0,50)}+'...'">
                </span>
                <span th:unless="${s.getMessage().length()>50}" th:text="${s.getMessage()}">
                </span>
            </td>
            <td th:text="${s.getInsertDateTime()}"></td>
            <td th:text="${s.getSolvedDateTime()}"></td>
                <td>

                <button th:if="${s.getStatusId().getId().toString() == '1'}"
                        class="btn btn-success"
                        data-toggle="modal" data-target="#viewModal"
                        th:onclick="|setIdForView('${s.id}')|">
                    Solved
                </button>
                <button th:unless="${s.getStatusId().getId().toString() == '1'}"
                        class="btn btn-warning"
                        data-toggle="modal" data-target="#viewModal"
                        th:onclick="|setIdForView('${s.id}')|">
                    Unsolved
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="modal" tabindex="-1" role="dialog" id = "viewModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Support</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="font-italic">Full name :</label>
                        <span id = "fullNameId"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-italic">Email :</label>
                        <span id = "emailId"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-italic">Department : </label>
                        <span id="departmentId"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-italic">Subject : </label>
                        <span id="subjectId"></span>
                    </div>
                    <div class="form-group">
                        <p class="font-italic">Message : </p>
                        <span id="messageId"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-italic">Insert time : </label>
                        <span id = "insertTimeId"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-italic">Solved time : </label>
                        <span id="solvedTimeId"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" id="supportId"/>
                    <a id="dynamicLink" href="/admin/supports">
                        <button id="solved" type="button" class="btn btn-success" >Mark as solved</button>
                    </a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>