<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <html xmlns:th="http://www.thymeleaf.org">
        <html>
            <head>
                <meta charset="UTF-8">
                <meta content="width=device-width, initial-scale=1.0" name="viewport">
                <meta content="ie=edge" http-equiv="X-UA-Compatible">
                <title>Videos</title>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

                <script>
                    function setIdForDelete(id) {
                        document.getElementById("videoIdForDelete").value = id;
                    }
                </script>
                <script>
                    function setIdForUpdate(id) {
                        document.getElementById("videoIdForUpdate").value = id;
                        $.ajax({
                            url: "/getData/video/" + id,
                            type: 'GET',
                            success: function (res) {
                                $("#updateHeader").val(res.header)
                                $("#updateUrl").val(res.url)
                                var sel = document.getElementById("select")
                                $(select).val(res.sectionId)
                            }
                        });
                    }
                </script>

            </head>
            <body>

                <div th:replace="admin/header"></div>


                <div>
                    <button type="button" style="margin: 10px;" class="btn btn-success" data-toggle="modal" data-target="#insertModal">Add Video</button>
                </div>
                
                <div class="modal" tabindex="-1" role="dialog" id="insertModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/admin/videos/add" method="POST">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="about">Header</label>
                                        <input type="text" name="header" class="form-control"placeholder="Header" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="about">Url</label>
                                        <input type="text" name="url" class="form-control"placeholder="Url" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="sectionId">Section</label>
                                        <select class="custom-select custom-select-sm" name = "sectionId" >
                                            <option th:each="s : ${sections}" th:text="${s.getName()}" th:value="${s.getId()}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                    <input type="submit" class="btn btn-success" value="Add">
                                    <input type="submit" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal" tabindex="-1" role="dialog" id="updateModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Update</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/admin/videos/update" method="POST" modelAttribute="video">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="about">Header</label>
                                        <input type="text" name="header" class="form-control" placeholder="Header" id="updateHeader" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="about">Url</label>
                                        <input type="text" name="url" class="form-control" placeholder="Url" id="updateUrl" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="sectionId">Section</label>
                                        <select class="custom-select custom-select-sm" name = "sectionId" id = "select">
                                            <option th:each="s : ${sections}" th:text="${s.getName()}" th:value="${s.getId()}"></option>
                                        </select>
                                    </div>

                                </div>
                                <div class="modal-footer">

                                    <input type="hidden" name="id" id="videoIdForUpdate">
                                    <input type="submit" class="btn btn-success" value="Update">
                                    <input type="submit" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/admin/videos/delete" method="POST">

                                <div class="modal-body">
                                    <p>Are you sure to delete selected video?</p> 
                                </div>
                                <div class="modal-footer">

                                    <input type="hidden" name="id" id="videoIdForDelete"/>
                                    <input type="submit" class="btn btn-success" value="Delete">
                                    <input type="submit" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="table-bordered table-responsive" th:object = "${videos}">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Header</th>
                                <th>Url</th>
                                <th>Section</th>
                                <th>Insert Time</th>
                                <th>Last Update Time</th>
                                <th>Preview</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="video : ${videos}">
                                <td th:text="${video.header}"></td>
                                <td th:text="${video.url}"></td>
                                <td th:text="${video.sectionId.name}"></td>
                                <td th:text="${video.insertDateTime}"></td>
                                <td th:text="${video.lastUpdateTime}"></td>
                                <td>

                                    <a class="btn btn-primary" th:href="${video.url}" target="blank" role="button">Preview</a>
                                </td>
                                <td>
                                    <button class="btn btn-warning" data-toggle="modal" data-target="#updateModal"
                                            th:onclick="|setIdForUpdate('${video.id}')|"
                                            >
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button> 
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                                            th:onclick="|setIdForDelete('${video.id}')|"  
                                            >
                                        <i class="fa fa-trash" aria-hidden="true"></i>

                                    </button> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </body>
        </html>
