<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <html xmlns:th="http://www.thymeleaf.org">

        <html> 
            <head>
                <meta charset="UTF-8">
                <meta content="width=device-width, initial-scale=1.0" name="viewport">
                <meta content="ie=edge" http-equiv="X-UA-Compatible">
                <title>WebSite Settings</title>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

                <script>
                    function setIdForUpdate(id) {
                        document.getElementById("websettingsIdForUpdate").value = id;
                        var xhttp = new XMLHttpRequest();
                        $.ajax({
                            url: "/getData/settings/" + id,
                            type: 'GET',
                            success: function (res) {
                                $("#updateAuthorName").val(res.author_name)
                                $("#updateAutobiography").val(res.autobiography)
                                $("#updateDescription").val(res.description)
                                $("#updatephone").val(res.phone)
                                $("#updateEmail").val(res.email)
                                $("#updateAboutimagepath").val(res.aboutImgPath)
                                $("#updateBannerpath").val(res.bannerPath)
                                $("#updateContactimagepath").val(res.contactImgPath)
                                $("#updateintroducevideourl").val(res.introduceVideoUrl)
                                $("#updateFbUrl").val(res.facebookUrl)
                                $("#updateInstagramUrl").val(res.instagramUrl)
                                $("#updateYoutubeUrl").val(res.youtubeUrl)
                                $("#updateWhatsAppUrl").val(res.whatsappUrl)

                            }
                        });
                    }

                    function countCharDescriptionInsertModal(val) {
                        var len = val.value.length;
                        if (len > 500) {
                            val.value = val.value.substring(0, 500);
                        } else {
                            $('#charNumInDescriptionAdd').text(500 - len + '  characters left');
                        }
                    }
                    ;

                    function countCharAutobiographyInsertModal(val) {
                        var len = val.value.length;
                        if (len > 500) {
                            val.value = val.value.substring(0, 500);
                        } else {
                            $('#charNumInAutobiographyAdd').text(500 - len + '  characters left');

                        }
                    }
                    ;
                    function countCharDescriptionUpdateModal(val) {
                        var len = val.value.length;
                        if (len > 500) {
                            val.value = val.value.substring(0, 500);
                        } else {
                            $('#charNumInDescriptionUpdate').text(500 - len + '  characters left');
                        }
                    }
                    ;
                    function countCharAutobiographyUpdateModal(val) {
                        var len = val.value.length;
                        if (len > 500) {
                            val.value = val.value.substring(0, 500);
                        } else {
                            $('#charNumInAutobiographyUpdate').text(500 - len + '  characters left');

                        }
                    }
                    ;
                </script>

            </head>

            <body>



                <div th:replace="admin/header"></div>


                <div class="modal" tabindex="-1" role="dialog" id="insertModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/admin/settings/add" method="POST"
                                  modelAttribute="admin">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="author_name">Author Name</label>
                                        <input type="text" name="author_name" class="form-control" placeholder="author_name" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="autobiography">Autobiography</label>
                                        <textarea  style="width: 100%" name="autobiography" placeholder="autobiography" required="required" onkeyup="countCharAutobiographyInsertModal(this)"></textarea>
                                        <div style="color: red" id="charNumInAutobiographyAdd"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea  style="width: 100%" name="description" placeholder="description" required="required" onkeyup="countCharDescriptionInsertModal(this)"></textarea>
                                        <div style="color: red" id="charNumInDescriptionAdd"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="number" name="phone" class="form-control" placeholder="phone" required="required"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" class="form-control" placeholder="email" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="aboutImgPath">About Image Path</label>
                                        <input type="text" name="aboutImgPath" class="form-control" placeholder="about Image Path" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="bannerPath">Banner Path</label>
                                        <input type="text" name="bannerPath" class="form-control" placeholder="banner Path" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="contactImgPath">Contact Image Path</label>
                                        <input type="text" name="contactImgPath" class="form-control" placeholder="contact Image Path" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="introduceVideoUrl">Introduce Video Url</label>
                                        <input type="text" name="introduceVideoUrl" class="form-control" placeholder="introduce Video Url" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="facebookUrl">Facebook Url</label>
                                        <input type="text" name="facebookUrl" class="form-control" placeholder="https://facebook_url.com" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="instagramUrl">Instagram Url</label>
                                        <input type="text" name="instagramUrl" class="form-control" placeholder="https://instagram_url.com" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="youtubeUrl">Youtube Url</label>
                                        <input type="text" name="youtubeUrl" class="form-control" placeholder="https://youtube_url.com" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="whatsappUrl">Whatsapp Url</label>
                                        <input type="text" name="whatsappUrl" class="form-control" placeholder="https://whatsapp_url.com" required="required"/>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                    <input type="submit" class="btn btn-success" value="Add">
                                    <input type="submit" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="modal" tabindex="-1" role="dialog" id="updateModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Update</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/admin/settings/update" method="POST">

                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="author_name">Author Name</label>
                                        <input type="text" name="author_name" class="form-control" id="updateAuthorName" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="autobiography">Autobiography</label>
                                        <textarea style="width: 100%" name="autobiography" id="updateAutobiography"  placeholder="description" required="required" onkeyup="countCharAutobiographyUpdateModal(this)"></textarea>
                                        <div style="color: red" id="charNumInAutobiographyUpdate"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea style="width: 100%" name="description" id="updateDescription"  placeholder="description" required="required" onkeyup="countCharDescriptionUpdateModal(this)"></textarea>
                                        <div style="color: red" id="charNumInDescriptionUpdate"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="number" name="phone" class="form-control" id="updatephone" required="required"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" class="form-control" id="updateEmail" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="aboutImgPath">About Image Path</label>
                                        <input type="text" name="aboutImgPath" class="form-control" id="updateAboutimagepath" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="bannerPath">Banner Path</label>
                                        <input type="text" name="bannerPath" class="form-control" id="updateBannerpath" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="contactImgPath">Contact Image Path</label>
                                        <input type="text" name="contactImgPath" class="form-control" id="updateContactimagepath" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="introduceVideoUrl">Introduce Video Url</label>
                                        <input type="text" name="introduceVideoUrl" class="form-control" id="updateintroducevideourl" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="facebookUrl">Facebook Url</label>
                                        <input type="text" name="facebookUrl" class="form-control" id="updateFbUrl" placeholder="https://facebook_url.com" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="instagramUrl">Instagram Url</label>
                                        <input type="text" name="instagramUrl" class="form-control" id="updateInstagramUrl" placeholder="https://instagram_url.com" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="youtubeUrl">Youtube Url</label>
                                        <input type="text" name="youtubeUrl" class="form-control" id="updateYoutubeUrl" placeholder="https://youtube_url.com" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="whatsappUrl">Whatsapp Url</label>
                                        <input type="text" name="whatsappUrl" class="form-control" id="updateWhatsAppUrl" placeholder="https://whatsapp_url.com" required="required" />
                                    </div>
                                </div>
                                <div class="modal-footer">

                                    <input type="hidden" name="id" id="websettingsIdForUpdate"/>
                                    <input type="submit" class="btn btn-success" value="Update">
                                    <input type="submit" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>



                <div>
                    <button type="button" style="margin: 10px;" class="btn btn-success" data-toggle="modal" data-target="#insertModal">Add</button>
                </div>

                <div class="table-bordered table-responsive" th:object = "${settings}">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Author Name</th>
                                <th style="padding-left: 140px;padding-right: 140px;">Autobiography</th>
                                <th style="padding-left: 170px;padding-right: 170px;">Description</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>About Image Path</th>
                                <th>Banner Path</th>
                                <th>Contact Image Path</th>
                                <th>Introduce Video Url</th>
                                <th>Facebook Url</th>
                                <th>Instagram Url</th>
                                <th>Youtube Url</th>
                                <th>Whatsapp Url</th>
                                <th>Insert Time</th>
                                <th>Last Update Time</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="setting : ${settings}">
                                <td th:text="${setting.author_name}"></td>
                                <td th:text="${setting.autobiography}"></td>
                                <td th:text="${setting.description}"></td>
                                <td th:text="${setting.phone}"></td>
                                <td th:text="${setting.email}"></td>
                                <td th:text="${setting.aboutImgPath}"></td>
                                <td th:text="${setting.bannerPath}"></td>
                                <td th:text="${setting.contactImgPath}"></td>
                                <td th:text="${setting.introduceVideoUrl}"></td>
                                <td th:text="${setting.facebookUrl}"></td>
                                <td th:text="${setting.instagramUrl}"></td>
                                <td th:text="${setting.youtubeUrl}"></td>
                                <td th:text="${setting.whatsappUrl}"></td>
                                <td th:text="${setting.insertDateTime}"></td>
                                <td th:text="${setting.lastUpdateDateTime}"></td>
                                <td>
                                    <button class="btn btn-warning" data-toggle="modal" data-target="#updateModal"
                                            th:onclick="|setIdForUpdate('${setting.id}')|"
                                            >
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </body>
        </html>