<footer class="pt-3 pb-3 text-white" style="background: rgb(33, 35, 49)!important">
    <div class="container ">
        <div class="row">

            <div class="col-lg-4">
                <h3>Teacher Management</h3>
                <p>Unvan:</p>
                <p>teacher@gmail.com</p>
                <div class="d-flex flex-row ">

                    <div class=" d-flex justify-content-center align-items-center border rounded-circle"
                         style="width: 30px; height: 30px;">

                        <a href="http://">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>


                    <div class="ml-2  d-flex justify-content-center align-items-center border rounded-circle"
                         style="width: 30px; height: 30px;">

                        <a href="http://">
                            <i class=" fab fa-youtube"></i>
                        </a>
                    </div>
                    <div class=" ml-2 d-flex justify-content-center align-items-center border rounded-circle"
                         style="width: 30px; height: 30px;">

                        <a href="http://">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>


                </div>
            </div>

            <div class="col-lg-2">

                <div class="d-flex flex-column">
                    <h5 class="p-2 border-bottom border-success text-center">Dərslər</h5>
                    <div class="p-2 border-bottom border-info"><a class="text-light text-decoration-none"
                                                                  href="http://">Fizika</a>
                    </div>
                    <div class="p-2 border-bottom border-info"><a class="text-light text-decoration-none"
                                                                  href="http://">Kimya</a>
                    </div>
                    <div class="p-2 border-bottom border-info"><a class="text-light text-decoration-none"
                                                                  href="http://">Riyaziyyat</a>
                    </div>

                </div>
            </div>
            <div class="col-lg-2">

                <div class="d-flex flex-column">
                    <h5 class="p-2 text-center border-bottom border-success">Siniflər</h5>
                    <div class="p-2 border-bottom border-warning"><a class="text-light text-decoration-none"
                                                                     href="http://">9 cu
                        sinif</a></div>
                    <div class="p-2 border-bottom border-warning"><a class="text-light text-decoration-none"
                                                                     href="http://">10 cu
                        sinif</a></div>
                    <div class="p-2 border-bottom border-warning"><a class="text-light text-decoration-none"
                                                                     href="http://">11 cu
                        sinif</a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">

                <div class="d-flex flex-column">
                    <h5 class="p-2 border-bottom border-bottom border-success text-center ">Teacher Management Web saytı
                    </h5>
                    <div class="p-2 border-bottom border-light"><a class="text-light text-decoration-none "
                                                                   href="http://">Üyelik
                        Sözleşmesi</a></div>
                    <div class="p-2 border-bottom border-light"><a class="text-light text-decoration-none "
                                                                   href="http://">Üyelik
                        Sözleşmesi</a></div>
                    <div class="p-2 border-bottom border-light"><a class="text-light text-decoration-none "
                                                                   href="http://">Üyelik
                        Sözleşmesi</a>
                    </div>
                    <div class="p-2 border-bottom border-light"><a class="text-light text-decoration-none "
                                                                   href="http://">Üyelik
                        Sözleşmesi</a>
                    </div>
                    <div class="p-2 border-bottom border-light"><a class="text-light text-decoration-none "
                                                                   href="http://">Üyelik
                        Sözleşmesi</a>
                    </div>


                </div>
            </div>

        </div>
    </div>
</footer>
