<footer class="pt-3 pb-3 text-white" style="background: rgb(33, 35, 49)!important"
        xmlns:th="http://www.thymeleaf.org"
        >
    <div class="container ">
        <div class="row">

            <div class="col-lg-4">
                <h3>Teacher Management</h3>
                <p>Unvan:</p>
                <p>teacher@gmail.com</p>
                <div class="d-flex flex-row ">

                    <div class=" d-flex justify-content-center align-items-center border rounded-circle"
                         style="width: 30px; height: 30px;">

                        <a href="http://">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>


                    <div class="ml-2  d-flex justify-content-center align-items-center border rounded-circle"
                         style="width: 30px; height: 30px;">

                        <a href="http://">
                            <i class=" fab fa-youtube"></i>
                        </a>
                    </div>
                    <div class=" ml-2 d-flex justify-content-center align-items-center border rounded-circle"
                         style="width: 30px; height: 30px;">

                        <a href="http://">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>


                </div>
            </div>

            <div class="col-lg-2">

                <div class="d-flex flex-column">
                    <h5 class="p-2 border-bottom border-success text-center">Dərslər</h5>
                    <div  class="p-2 border-bottom border-info" th:each="lesson :${lessons}"  ><a class="text-light text-decoration-none"
                                                                  th:href="@{/lessons}" th:text="${lesson.name}"></a>
                    </div>


                </div>
            </div>
            <div class="col-lg-2">

                <div class="d-flex flex-column">
                    <h5 class="p-2 text-center border-bottom border-success">Siniflər</h5>
                    <div class="p-2 border-bottom border-warning" th:each="class:${classes}"><a class="text-light text-decoration-none"
                                                                     th:href="@{/class}" th:text="${class.name}"></a></div>



                </div>
            </div>

        </div>
    </div>
</footer>
