<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{base}"
>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title>Sinif</title>
</head>
<div layout:fragment="content"><!-- breadcrumb -->
    <body class="mt-5-sm">
    <div class="container">
        <div class="col-md-12">
            <h2 class="text-success mt-3 mb-2">Siniflər</h2>
            <ol class="breadcrumb mb-0 px-0 pb-2 bg-white">
                <li aria-current="page" class="breadcrumb-item"><a
                        class="font-weight-bold text-dark text-decoration-none"
                        th:href="@{/}">Anasayfa</a></li>
                <li aria-current="page" class="breadcrumb-item"><a
                        class="font-weight-bold text-dark text-decoration-none"
                        th:href="${'/lessons'}">Dersler</a></li>
                <li aria-current="page" class="breadcrumb-item active"><a
                        class="font-weight-bold text-success text-decoration-none" th:href="${'/class'}">Siniflər</a></li>
            </ol>
        </div>
    </div>

    <!-- content -->
    <section class="bg-light">
        <div class="container py-5" th:each="c : ${classes}">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-success text-center border-bottom border-success pb-3 mb-3" th:text="${c.name}"></h2>
                    <div class="row" >
                        <div class="col-md-3 col-sm-6 col-12 pb-3" th:each="l : ${c.classLessonList}">
                            <div class="card">
                                <img class="card-img-top img-fluid"
                                     th:src="${l.lessonId.thumbnailPath}">
                                <div class="card-body">
                                    <h5 class="card-title text-center text-dark font-weight-light"
                                    th:text="${l.lessonId.name}">
                                    </h5>
                                    <a class="btn btn-success btn-block font-weight-light" th:href="${'/lessons/details/'+l.classId+'/'+l.lessonId.id}"
                                    th:text="${l.lessonId.name} +' '+ mövzuları">
                                        <i class="fa fa-angle-double-right fa-xs"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="https://umutonculakademi.com/img/res/hakkimizda1.png">
            </div>
            <div class="col-md-8 col-sm-6 col-12">
                <h3 class="text-dark  mt-3 font-weight-normal" th:text="${settings.author_name}"></h3>
                <h6 class="text-body mb-2 font-weight-light">FİZİK ÖĞRETMENİ</h6>
                <p class="text-muted" th:text="${settings.autobiography}">
<!--
                    Orta Doğu Teknik Üniversitesi Fizik Öğretmenliği Bölümü`nden mezun olmuştur. Üniversiteyi
                    bitirdikten hemen
                    sonra 9 yıl boyunca İzmir Ege Sistem Dershaneleri`nde defalarca ÖSS birincileri yetiştiren kadroda
                    bulunmuş,
                    proje gruplarının yetiştirilmesinde katkı sağlamıştır. Sonraki 5 yıl da İzmir Uğur Dershaneleri`nde
                    çalışmış
                    orada proje sınıflarının öğretmenliğini yapmış ve 2009 ÖSS birincisi ve 2010 LYS birincisi olan
                    öğrencilerin
                    yetiştirilmesinde katkı sağlamış öğretmenlerden biridir. 2011 yılında Uğur Dershanesi nin İzmir
                    merkez
                    şubesinde Fizik Bölümü Başkanlığını yürütmeye başlamış dershanenin 5 şubesi ve 15 öğretmenin
                    kordinasyonundan sorumlu olmuştur.

                    Bu pozisyonda; elit grup öğrencilerin yetiştirilmesi için her türlü çalışma, ders ve yayından
                    sorumlu
                    olmuştur. 2012 yılından itibaren İzmir Özel Türk Koleji Fizik Zümre Başkanlığı görevini yürütmeye
                    başlamıştır. Burada aynı zamanda İzmir Özel Türk Fen Lisesinde Fizik öğretmenliği görevini de
                    yürütmüştür.
                    Öğretmenimiz, okulun öğrenci profiline bakıldığında SBS de 480 ve üzeri puan alan öğrencilerin
                    bulunduğu çok
                    başarılı bir grubun eğitiminden sorulumlu olmuştur. Edindiği tecrübeleri artık kendi ders bürosunda
                    değerlendirmektedir. Evli ve bir çocuk babasıdır.
-->
                </p>
            </div>
        </div>
    </div>
    </body>
</div>




</html>
