<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Teacher Management </a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="ml-auto">
                <form class=" form-inline my-2 my-lg-0">
                    <input aria-label="Search" class=" ml-auto form-control mr-sm-2" placeholder="Search"
                           type="search"/>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav mt-3">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Əsas səhifə<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">Haqqımızda</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/lessons">Dərslər</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="class">Siniflər</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/exam">İmtahanlar</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/contact">Əlaqə</a>
                    </li>
                    <a class="btn btn-success" href="/user/login" role="button">Daxil Ol</a>
                </ul>
            </div>
        </div>
    </div>
</nav>

