.arrow-left {
    top: 42%;
    left: 0;
    transform: translateY(-50%);
    background: yellow;
}
.arrow-right {
    top: 42%;
    right: 0;
    transform: translateY(-50%);
    background: yellow;
}
@media screen and (max-width:480px) {
    div.ex1 {
        width: 100%;
        overflow-x: scroll;
      }
}
