<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{base}"
>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Blog</title>
    

</head>

<div layout:fragment="content">
    <body class="mt-5-sm">

    <div class="container border-bottom border-success">
        <div class="col-md-12 text-center">
            <h2 class="text-success mt-3 mb-2">İLİTİŞİM</h2>
            <ol class="breadcrumb mb-0 bg-white justify-content-center">
                <li class="breadcrumb-item" aria-current="page"><a
                        class="font-weight-bold text-dark text-decoration-none" href="/">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a
                        class="font-weight-bold text-success text-decoration-none" href="/contact">İletişim</a></li>
            </ol>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="w-100 px-3">
                        <img th:src="@{img/iletisim.png}" style="width:100%">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="form-area w-100">
                        <form action="/addContact" method="post">
                            <div class="w-100">
                                <h1 class="text-gray px-3 fa-2x font-weight-300 text-gray">Mesaj gönderin</h1>

                                <div class="form-group">
                                    <label for="comboDepartmentId">Departman :*</label>
                                    <select class="custom-select custom-select-sm" name="comboDepartment"
                                            id="comboDepartmentId">
                                        <div th:each="d:${departments}">
                                            <option th:value="${d.id}"><span th:text="${d.name}"></span></option>
                                        </div>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="nameSurnameContactId">Adınız Soyadınız: *</label>
                                    <input type="text" class="form-control" name="nameSurnameContact"
                                           id="nameSurnameContactId"
                                           aria-describedby="nameSurnameHelp" placeholder="Adınız Soyadınız:">
                                </div>
                                <div class="form-group">
                                    <label for="emailContactId">E-Mail Adresiniz: *</label>
                                    <input type="email" class="form-control" name="emailContact" id="emailContactId"
                                           aria-describedby="emailHelp" placeholder="E-Posta Adresiniz: *">
                                </div>
                                <div class="form-group">
                                    <label for="subjectContactId">Mövzu: *</label>
                                    <input type="text" class="form-control" name="subjectContact" id="subjectContactId"
                                           aria-describedby="subjectHelp" placeholder="Mövzu:">
                                </div>
                                <div class="form-group">
                                    <label for="messageContactId">Mesajınız: *</label>
                                    <textarea class="form-control" name="messageContact" id="messageContactId" rows="3"
                                              placeholder="Mesajınız: "></textarea>
                                </div>
                                <button  type="submit" id="addContactBtnId" class="btn btn-success m-auto">Göndər
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>





    </body>

</div>

</html>
