<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{base}"
>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Ana Sehife</title>

</head>


<div layout:fragment="content" th:object="${settings}">
    <body>
    <!--Section 1-->
    <section>
        <video autoplay="" id="video_div" muted="" style="width: 100%">
            <source th:src="${settings.bannerPath}" type="video/mp4">
            <!-- https://umutonculakademi.com/video.mp4 -->
        </video>
        <!-- <img src="img/header-bg.jpg" alt="header" class = "w-100 h-100"> -->
    </section>
    <!--Section 2           BİZ KİMİZ ?-->
    <section class="my-5">
        <div class="container">
            <div class="row pb-5">
                <!--BİZ KİMİZ ?-->
                <div class="col-lg-6">
                    <h4 class="mb-2">BİZ <span class="text-success">KİMİZ ?</span></h4>
                    <hr class="w-25 bg-success ml-0">
                    <p class="text-muted" th:text="${settings.description}">
                        <!--
                        Umut Öncül Akademi 2015 yılında Umut Öncül önderliğinde kurulmuş, 8600'den fazla öğrenciye
                        hizmet
                        vermiştir.
                        Bu pozisyonda; elit grup öğrencilerin yetiştirilmesi için her türlü çalışma, ders ve yayından
                        sorumlu olmuştur.
                        2012 yılından itibaren İzmir Özel Türk Koleji Fizik Zümre Başkanlığı görevini yürütmeye
                        başlamıştır.
                        Burada aynı zamanda İzmir Özel Türk Fen Lisesinde Fizik
                        öğretmenliği görevini de yürütmüştür. Öğretmenimiz,
                        okulun öğrenci profiline bakıldığında SBS de 480 ve üzeri puan alan öğrencilerin bulunduğu çok
                        başarılı bir grubun eğitiminden sorulumlu olmuştur.
                        -->
                    </p>
                    <p class="text-muted pl-3 m-1"> 8600 'den FAZLA KAYITLI ÖĞRENCİ</p>
                    <p class="text-muted pl-3 m-1"> 12 YILLIK DENEYİM</p>
                    <p class="text-muted pl-3 m-1 mb-3"> UZMAN EĞİTMEN KADROSU</p>
                    <a class="btn btn-success px-5 py-2 mb-5" th:href="${'/about'}">Devamını Oku...</a>
                </div>
                <!--BİR DE BENDEN DİNLEYİN-->
                <div class="col-lg-6" >
                    <h4>BİR DE BENDEN <span class="text-success">DİNLEYİN</span></h4>
                    <hr class="w-25 bg-success ml-0">
                    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                            class="w-100 h-75"
                            frameborder="0"
                            th:src="${settings.introduceVideoUrl}"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!--Section-3           POPÜLER KONULAR-->
    <section>
        <div class="container my-5">
            <!--Bashliq-->
            <div class="row">
                <div class="col text-center">
                    <h2 class="h2 font-weight-normal">POPÜLER <span class="text-success">KONULAR</span></h2>
                    <hr class="w-25 text-success py-3 mt-1">
                </div>
            </div>
            <!--Paketler-->

            <div class="position-absolute arrow-left p-3">
                <i class="fas fa-chevron-left text-dark"></i>
            </div>
            <div class="position-absolute arrow-right p-3">
                <i class="fas fa-chevron-right text-dark"></i>
            </div>
            <div class="owl-carousel owl-theme">

                <div class="item" th:each="section : ${sections}">
                    <div class="border border-muted">
                        <div class="bg-success text-center py-1">
                            <h5 class="m-0">
                                <a class="text-light text-decoration-none"
                                   th:text="${section.sectionId.name}"
                                   th:href="${'/lessons/details/'+section.lessonId+'/'+section.sectionId}"></a>
                            </h5>
                        </div>
                        <div class="border-bottom border-success position-relative">
                            <a th:href="${'/lessons/details/'+section.lessonId+'/'+section.sectionId}">
                                <img alt="" class="img-fluid w-100"
                                     th:src="${section.sectionId.thumbnailPath != null?section.sectionId.thumbnailPath:'/img/FİZİK.png'}"
                                     style="height:150px">
                            </a>
                        </div>
                        <div class="d-flex py-2 px-2">
                            <a class="mr-2" th:href="${'/lessons/details/'+section.lessonId+'/'+section.sectionId}">
                                <img alt="" class="img-fluid" src="img/hoca.jpg" style="width:50px;height:50px">
                            </a>
                            <div class="mt-2">
                                <h6 class="mb-1">
                                    <a class="text-dark font-weight-normal text-decoration-none"
                                       th:href="${'/lessons/details/'+section.lessonId+'/'+section.sectionId}" th:text="${settings.author_name}"></a>
                                </h6>
                                <h6>
                                    <a class="text-muted font-weight-light text-decoration-none"
                                       th:href="${'/lessons/details/'+section.lessonId+'/'+section.sectionId}">Java Developer</a>
                                </h6>
                            </div>
                        </div>
                        <div class="d-flex text-center justify-content-center py-1">
                            <i class="fas fa-star text-warning fa-xs"></i>
                            <i class="fas fa-star text-warning fa-xs"></i>
                            <i class="fas fa-star text-warning fa-xs"></i>
                            <i class="fas fa-star text-warning fa-xs"></i>
                            <i class="fas fa-star text-warning fa-xs"></i>
                        </div>
                        <div class="d-flex justify-content-between px-3 pt-3">
                            <div class="text-left">
                                <h6 class="mb-1">
                                    <a class="text-dark font-weight-normal text-decoration-none"
                                       th:href="${'/lessons/details/'+section.lessonId+'/'+section.sectionId}"
                                       th:text="${section.sectionId.videoCount}"></a>
                                </h6>
                                <p class="mb-1">
                                    <a class="text-muted font-weight-light text-decoration-none"
                                       th:href="${'/lessons/details/'+section.lessonId+'/'+section.sectionId}">Video
                                        Sayısı</a>
                                </p>
                            </div>
                            <div class="text-right">
                                <h6 class="mb-1">
                                    <a class="text-dark font-weight-normal text-decoration-none"
                                       th:href="${'/lessons/details/'+section.lessonId+'/'+section.sectionId}"
                                       th:text="${#numbers.formatDecimal( section.sectionId.price, 0, 'COMMA', 2, 'POINT')}"></a>
                                </h6>
                                <p class="mb-1">
                                    <a class="text-muted font-weight-light text-decoration-none"
                                       th:href="${'/lessons/details/'+section.lessonId+'/'+section.sectionId}">Ders Ücreti</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>
    <!--Section-4           Mobil Uygulama Yayında !-->
    <!--<section class="bg-warning text-white">-->
        <!--<div class="container">-->
            <!--<div class="row pt-5 pb-0">-->
                <!--&lt;!&ndash;Phone&ndash;&gt;-->
                <!--<div class="col-lg-5">-->
                    <!--<img alt="" class="w-100" th:src="@{/img/phone.png}">-->
                <!--</div>-->
                <!--&lt;!&ndash;Mobil Uygulama Yayında !&ndash;&gt;-->
                <!--<div class="col-lg-7">-->
                    <!--<h2 class="h2 font-weight-normal"><span class="text-success">Mobil Uygulama</span> Yayında!</h2>-->
                    <!--<hr class="w-25 text-success ml-0">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="row mt-2">-->
                                <!--<div class="col-2">-->
                                    <!--<i class="fas fa-mobile-alt text-success w-100 fa-2x pt-1 pl-3"></i>-->
                                <!--</div>-->
                                <!--<div class="col-10">-->
                                    <!--<h5 class="font-weight-normal">MOBİL İZLEME</h5>-->
                                    <!--<p class="text-muted font-weight-normal">Umut Öncül Akademi serviste, otobüste,-->
                                        <!--okulda-->
                                        <!--her zaman yanında !</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="row mt-2">-->
                                <!--<div class="col-2">-->
                                    <!--<i class="fas fa-play text-success w-100 fa-2x pt-1 pl-3"></i>-->
                                <!--</div>-->
                                <!--<div class="col-10">-->
                                    <!--<h5 class="font-weight-normal">TÜM DERSLER</h5>-->
                                    <!--<p class="text-muted font-weight-normal">Uygulama üzerinden giriş yaparak, videolu-->
                                        <!--konu-->
                                        <!--anlatımları ve konu testleri ile sınavlarınıza hazırlanabilirsiniz.</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="row mt-2">-->
                                <!--<div class="col-2">-->
                                    <!--<i class="fas fa-bell text-success w-100 fa-2x pt-1 pl-3"></i>-->
                                <!--</div>-->
                                <!--<div class="col-10">-->
                                    <!--<h5 class="font-weight-normal">BİLDİRİMLER</h5>-->
                                    <!--<p class="text-muted font-weight-normal">Uygulama sayesinde yeniliklerden anında-->
                                        <!--haberdar olabilirsin.</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="row mt-2">-->
                                <!--<div class="col-2">-->
                                    <!--<i class="fas fa-clipboard text-success w-100 fa-2x pt-1 pl-3"></i>-->
                                <!--</div>-->
                                <!--<div class="col-10">-->
                                    <!--<h5 class="font-weight-normal">GÜNLÜK DENEME SORULARI</h5>-->
                                    <!--<p class="text-muted font-weight-normal">Günlük soru çözme yarışmalarına katılarak,-->
                                        <!--online olarak soruları çözebilir, diğer kullanıcılar arasında sıralamanızı-->
                                        <!--görebilirsiniz.</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="row mt-2">-->
                                <!--<div class="col-2">-->
                                    <!--<i class="fas fa-atom text-success w-100 fa-2x pt-1 pl-3"></i>-->
                                <!--</div>-->
                                <!--<div class="col-10">-->
                                    <!--<h5 class="font-weight-normal">GÜNLÜK DENEME SINAVLARI</h5>-->
                                    <!--<p class="text-muted font-weight-normal">Günlük Deneme Sınavlarına katılarak, online-->
                                        <!--olarak sınavlara girebilir, diğer kullanıcılar arasında sıralamanızı-->
                                        <!--görebilirsiniz.</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="row mt-2">-->
                                <!--<div class="col-2">-->
                                    <!--<i class="fas fa-chart-pie text-success w-100 fa-2x pt-1 pl-3"></i>-->
                                <!--</div>-->
                                <!--<div class="col-10">-->
                                    <!--<h5 class="font-weight-normal">TÜRKİYE SIRALAMASI</h5>-->
                                    <!--<p class="text-muted font-weight-normal">Diğer kullanıcılar arasında sınav-->
                                        <!--sonuçlarınıza-->
                                        <!--ve günlük deneme sorularına göre Türkiye sıralamanızı görebilirsiniz.</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-6">-->
                            <!--&lt;!&ndash;Google Play&ndash;&gt;-->
                            <!--<div class="row mt-3">-->
                                <!--<div class="col-md-12">-->
                                    <!--<a href="https://play.google.com/store/movies"><img alt="" class="w-100"-->
                                                                                        <!--src="img/googleplay.png"></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                            <!--&lt;!&ndash;QR Kod&ndash;&gt;-->
                            <!--<div class="row mt-3">-->
                                <!--<div class="col-md-12 pb-4">-->
                                    <!--<a href="#"><img alt="" class="w-25 pt-3 ml-4" th:src="@{/img/qr-code.png}"></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    <!--Section-5           UMUT ÖNCÜL-->
    <section class="py-5">
        <!-- about section -->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img alt="" class="img-fluid" src="https://umutonculakademi.com/img/res/hakkimizda1.png">
                </div>
                <div class="col-md-8">
                    <h4 class="mt-1 font-weight-normal" th:text="${settings.author_name}"></h4>
                    <p class="h6 font-weight-normal">FİZİK ÖĞRETMENİ</p>
                    <p class="text-muted m-0" th:text="${settings.autobiography}">
                        <!--Orta Doğu Teknik Üniversitesi Fizik Öğretmenliği Bölümü`nden mezun
                        olmuştur.
                        Üniversiteyi bitirdikten hemen sonra 9 yıl boyunca İzmir Ege Sistem Dershaneleri`nde defalarca
                        ÖSS
                        birincileri yetiştiren kadroda bulunmuş, proje gruplarının yetiştirilmesinde katkı sağlamıştır.
                        Sonraki 5 yıl da İzmir Uğur Dershaneleri`nde çalışmış orada proje sınıflarının öğretmenliğini
                        yapmış
                        ve 2009 ÖSS birincisi ve 2010 LYS birincisi olan öğrencilerin yetiştirilmesinde katkı sağlamış
                        öğretmenlerden biridir. 2011 yılında Uğur Dershanesi nin İzmir merkez şubesinde Fizik Bölümü
                        Başkanlığını yürütmeye başlamış dershanenin 5 şubesi ve 15 öğretmenin kordinasyonundan sorumlu
                        olmuştur. Bu pozisyonda; elit grup öğrencilerin yetiştirilmesi için her türlü çalışma, ders ve
                        yayından sorumlu olmuştur. 2012 yılından itibaren İzmir Özel Türk Koleji Fizik Zümre Başkanlığı
                        görevini yürütmeye başlamıştır. Burada aynı zamanda İzmir Özel Türk Fen Lisesinde Fizik
                        öğretmenliği
                        görevini de yürütmüştür. Öğretmenimiz, okulun öğrenci profiline bakıldığında SBS de 480 ve üzeri
                        puan alan öğrencilerin bulunduğu çok başarılı bir grubun eğitiminden sorulumlu olmuştur.
                        Edindiği
                        tecrübeleri artık kendi ders bürosunda değerlendirmektedir. Evli ve bir çocuk babasıdır.</p>
                        -->
                </div>
            </div>
        </div>
    </section>
    <!--Section-6           HAKKIMIZDA KONUŞULANLAR-->
    <section class="py-5 bg-warning text-white">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h4 class="h2 font-weight-norma py-2">HAKKIMIZDA <span class="text-success">KONUŞULANLAR</span></h4>
                    <hr class="w-25 bg-success pb-1 mb-5">
                </div>
            </div>
            <div class="owl-carousel carousel2 owl-theme">
                <div class="item" th:each="f : ${feedbacks}">
                    <div class="row">
                        <div class=" col-md-3 col-6">
                            <img alt="" class="w-100" th:src="@{/img/boy.png}">
                        </div>
                        <div class="col-md-9 col-6">
                            <p class="pt-2" th:text="${f.content}"></p>
                            <p class="text-success pt-1 font-weight-normal" th:text="${f.authorName}"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--Section-7           MERAK ETTİKLERİNİZ-->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="font-weight-normal my-2"><i class="far fa-question-circle pr-2"></i> MERAK <span
                                    class="text-success">ETTİKLERİNİZ</span></h4>
                            <hr class="w-25 bg-success ml-0">
                        </div>
                    </div>
                    <!--Collapse-->
                    <div id="accordion">
                        <div class="card border-0">
                            <div class="card-header px-0 bg-white" id="headingOne">
                                <h6 class="mb-0 font-weight-normal d-flex align-items-center">
                                    <button aria-controls="collapseOne" aria-expanded="true"
                                            class="p-0 mr-2 btn btn-link collapsed" data-target="#collapseOne"
                                            data-toggle="collapse">
                                        <i class="fas fa-plus-square text-success fa-2x"></i>
                                    </button>
                                    <span>Online Ders Nedir ?</span>
                                </h6>
                            </div>
                            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordion"
                                 id="collapseOne">
                                <div class="card-body text-muted">
                                    Katılımcıların internet üzerinde oluşturulan sınıflarda eğitim almasını sağlayan bir
                                    sistemdir.
                                </div>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-header px-0 bg-white" id="headingTwo">
                                <h6 class="mb-0 font-weight-normal d-flex align-items-center">
                                    <button aria-controls="collapseTwo" aria-expanded="false"
                                            class="p-0 mr-2 btn btn-link collapsed" data-target="#collapseTwo"
                                            data-toggle="collapse">
                                        <i class="fas fa-plus-square text-success fa-2x"></i>
                                    </button>
                                    <span>Nasıl Üye Olabilirim?</span>
                                </h6>
                            </div>
                            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion"
                                 id="collapseTwo">
                                <div class="card-body text-muted">
                                    Üst taraftaki menüden kayıt ol butonuna basarak ve e-mail adresini yazarak kayıt
                                    olabilirsin
                                </div>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-header px-0 bg-white" id="headingThree">
                                <h6 class="mb-0 font-weight-normal d-flex align-items-center">
                                    <button aria-controls="collapseThree" aria-expanded="false"
                                            class="p-0 mr-2 btn btn-link collapsed" data-target="#collapseThree"
                                            data-toggle="collapse">
                                        <i class="fas fa-plus-square text-success fa-2x"></i>
                                    </button>
                                    <span>Dersleri Nereden İzleyebilirim?</span>
                                </h6>
                            </div>
                            <div aria-labelledby="headingThree" class="collapse" data-parent="#accordion"
                                 id="collapseThree">
                                <div class="card-body text-muted">
                                    Üst menüde bulunan 'Dersler' kısmından tüm derslere ulaşabilirsiniz. Sınıf
                                    seviyesine
                                    uygun derslere ulaşmak için 'Sınıflar' menüsünü kullanabilirsiniz.
                                </div>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-header px-0 bg-white" id="headingFour">
                                <h6 class="mb-0 font-weight-normal d-flex align-items-center">
                                    <button aria-controls="collapseFour" aria-expanded="false"
                                            class="p-0 mr-2 btn btn-link collapsed" data-target="#collapseFour"
                                            data-toggle="collapse">
                                        <i class="fas fa-plus-square text-success fa-2x"></i>
                                    </button>
                                    <span>Derslerin kota kullanımı ne kadardır?</span>
                                </h6>
                            </div>
                            <div aria-labelledby="headingFour" class="collapse" data-parent="#accordion"
                                 id="collapseFour">
                                <div class="card-body text-muted">
                                    Ortalama bir derste 50 MB veri aktarılmaktadır.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="font-weight-normal my-2"><i class="far fa-image pr-2"></i>BİR FOTOĞRAF <span
                                    class="text-success">ÇEKİLEBİLİR MİYİZ ?</span></h4>
                            <hr class="w-25 bg-success ml-0 my-4 mb-3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-6 mb-3">
                            <a href="#">
                                <img alt="" class="w-100 p-1 rounded border" th:src="@{/img/ins.jpg}">
                            </a>
                        </div>
                        <div class="col-md-4 col-6 mb-3">
                            <a href="#">
                                <img alt="" class="w-100 p-1 rounded border" th:src="@{/img/ins.jpg}">
                            </a>
                        </div>
                        <div class="col-md-4 col-6 mb-3">
                            <a href="#">
                                <img alt="" class="w-100 p-1 rounded border" th:src="@{/img/ins.jpg}">
                            </a>
                        </div>

                        <div class="col-md-4 col-6 mb-3">
                            <a href="#">
                                <img alt="" class="w-100 p-1 rounded border" th:src="@{/img/ins.jpg}">
                            </a>
                        </div>

                        <div class="col-md-4 col-6 mb-3">
                            <a href="#">
                                <img alt="" class="w-100 p-1 rounded border" th:src="@{/img/ins.jpg}">
                            </a>
                        </div>
                        <div class="col-md-4 col-6 mb-3">
                            <a href="#">
                                <img alt="" class="w-100 p-1 rounded border" th:src="@{/img/ins.jpg}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--<script th:src="@{/js/layout.js}"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>

    <script>
        $('.carousel2').owlCarousel({
            loop: true,
            margin: 10,

            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 2
                }
            }
        });
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            navText: [$('.arrow-left'), $('.arrow-right')],
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })

    </script>
    </body>
</div>
</html>
