<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{base}"
>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
</head>


<div layout:fragment="content">
    <!-- breadcrumb -->
    <body>
    <div class="container border-bottom border-success">
        <div class="col-md-12">
            <h2 class="text-success mt-3 mb-2" th:text="${lesson.name}"> Bolmeleri</h2>
            <ol class="breadcrumb mb-0 px-0 pb-2 bg-white">
                <li aria-current="page" class="breadcrumb-item"><a
                        class="font-weight-bold text-dark text-decoration-none"
                        href="index.html">Esas sehife</a></li>
                <li aria-current="page" class="breadcrumb-item"><a
                        class="font-weight-bold text-dark text-decoration-none"
                        href="/lessons">Dersler</a></li>
                <li aria-current="page" class="breadcrumb-item active"><a
                        class="font-weight-bold text-success text-decoration-none" th:href="${'/lessons/details/'+lesson.id}"
                        th:text="${lesson.name}"></a>
                </li>
            </ol>
        </div>
    </div>
    <!-- content -->
    <div class="container py-3" th:each="s:${lesson.lessonSectionList}">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="border border-muted">
                    <div class="bg-success text-center py-1">
                        <h5 class="m-0">
                            <a class="text-light text-decoration-none" th:href="${'/lessons/details/'+s.sectionId}"
                               th:text="${s.sectionId.name}"></a>
                        </h5>
                    </div>
                    <div class="border-bottom border-success position-relative">
                        <a th:href="${'/lessons/details/'+s.sectionId}">
                            <img alt="" class="img-fluid w-100" style="height:150px"
                                 th:src="${s.sectionId.thumbnailPath != null?s.sectionId.thumbnailPath:'/img/FİZİK.png'}">
                        </a>

                    </div>
                    <div class="d-flex py-2 px-2">
                        <a class="mr-2" href="">
                            <img alt="" class="img-fluid" style="height:50px;width:50px" th:src="@{/img/hoca.jpg}">
                        </a>
                        <div class="mt-2">
                            <h6 class="mb-1">
                                <a class="text-dark font-weight-normal text-decoration-none" th:href="${'/lessons/details/'+s.sectionId}">Serxan
                                    Resullu</a>
                            </h6>
                            <h6>
                                <a class="text-muted font-weight-light text-decoration-none"
                                   href="/lessons/details">Developer</a>
                            </h6>
                        </div>
                    </div>
                    <div class="d-flex text-center justify-content-center py-1">
                        <i class="fas fa-star text-warning fa-xs"></i>
                        <i class="fas fa-star text-warning fa-xs"></i>
                        <i class="fas fa-star text-warning fa-xs"></i>
                        <i class="fas fa-star text-warning fa-xs"></i>
                        <i class="fas fa-star text-warning fa-xs"></i>
                    </div>
                    <div class="d-flex justify-content-between px-3 pt-3">
                        <div class="text-left">
                            <h6 class="mb-1">
                                <a class="text-dark font-weight-normal text-decoration-none"th:href="${'/lessons/details/'+s.sectionId}">
                                    <div th:text="${s.sectionId.videoCount}"></div></a>
                            </h6>
                            <p class="mb-1">
                                <a class="text-muted font-weight-light text-decoration-none" th:href="${'/lessons/details/'+s.sectionId}">Video Sayısı</a>
                            </p>
                        </div>
                        <div class="text-right">
                            <h6 class="mb-1">
                                <a class="text-dark font-weight-normal text-decoration-none" th:href="${'/lessons/details/'+s.sectionId}">
                                    <div th:text="${#numbers.formatDecimal( s.sectionId.price, 0, 'COMMA', 2, 'POINT')}"></div>
                                </a>
                            </h6>
                            <p class="mb-1">
                                <a class="text-muted font-weight-light text-decoration-none" href="">Dersin Qiymeti</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mx-auto">
                <!-- pagination -->
                <nav aria-label="Page navigation example" class="mt-4 mb-0">
                    <ul class="pagination justify-content-center flex-wrap">
                        <li class="page-item">
                            <a class="page-link text-secondary" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link bg-success text-light" href="#">1</a></li>
                        <li class="page-item">
                            <a class="page-link text-secondary" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    </body>
</div>
</html>
